body {
	margin: 0;
	background-color: #232323;
}
#container {
	max-width: 600px;
	margin: 30px auto;
}

h1 {
	text-align: center;
	background-color: white;
	padding: 20px 0;
	margin: 0;
}

.circles {
	width: 30%;
	background: blue;
	float: left;
	margin: 1.6%;
	border-radius: 50%;
	padding-bottom: 30%;
	transition: background 0.6s;
}

#stripes {
	height: 30px;
	background-color: black;
	text-align: center;
}

button {
	border: none;
	background-color: black;
	color: white;
	height: 100%;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	transition: all 0.8s;
}

button:hover {
	background-color: white;
	color: black;
}

#message {
	display: inline-block;
	width: 20%;
}

.messageDisplay {
	color: white;
	font-weight: bold;
	font-size: 1em;
}